{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/prop-types": 0,
    "global-require": 0,
    "no-console": 0,
    "import/no-extraneous-dependencies": 0
  },
  "globals": {
    "document": true,
    "window": true
  },
  "env": {
    "browser": true
  }
}
