#spin_button {
  font-family: 'Jua', sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 69px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  -webkit-text-stroke: 1.7px black;
}
