#spin_button {
  font-family: 'Jua', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  -webkit-text-stroke: 1.7px black;
}

.arrow {
  position: absolute;
  top: -45%;
  font-size: 45px;
  z-index: 3;
}

#canvas {
  /* width: 80%; */
  width: clamp(20vw, 30rem, 100vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.turnPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.turnButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  margin: auto;
  background-color: white;
  border-color: black;
  border-style: solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.resultText {
  --font-size-lg: clamp(1.8rem, 4vw, 4rem);
  font-size: var(--font-size-lg);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 15px;
  visibility: hidden;
}
