.stepper-wrapper {
   margin-top: 3px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 1px;
}
.stepper-item {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;
   font-weight: 200;

   @media (max-width: 768px) {
      font-size: 8px;
   }
}

.stepper-item::before {
   position: absolute;
   content: '';
   border-bottom: 2px solid #ccc;
   width: 100%;
   top: 20px;
   left: -50%;
   z-index: 2;
}

.stepper-item::after {
   position: absolute;
   content: '';
   border-bottom: 2px solid #ccc;
   width: 100%;
   top: 20px;
   left: 50%;
   z-index: 2;
}

.stepper-item .step-counter {
   position: relative;
   z-index: 5;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: #ccc;
   margin-bottom: 6px;
   margin-top: 2px;
   padding-top: 3px;
}

.stepper-item.active {
   font-weight: 800;
}

.stepper-item.completed .step-counter {
   background-color: #4bb543;
}

.stepper-item.completed::after {
   position: absolute;
   content: '';
   border-bottom: 2px solid #4bb543;
   width: 100%;
   top: 20px;
   left: 50%;
   z-index: 3;
}

.stepper-item:first-child::before {
   content: none;
}
.stepper-item:last-child::after {
   content: none;
}
