@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #root {
  background-color: #40e0d0;
} */

.page {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #40e0d0;
}

div {
  text-align: center;
  font-family: 'Jua';
}

.subtitle {
  margin-bottom: 40px;
  font-size: 30px;
}

.maintitle {
  margin-bottom: 100px;
}

.logo {
  width: 300px;
}

.recommendation_btn {
  border-radius: 15px;
  border-style: solid;
  border-color: #282c34;
  box-shadow: 1px 3px 3px black;
  font-size: 30px;
  width: 250px;
  height: 60px;
  color: black;
}

.manual {
  margin-top: 30px;
}

.manual_btn {
  background-color: #40e0d0;
  border: none;
}
